.navbar{
    margin-top: 0px;
    top: 0;
    height: 700px;
    width: 200px;
    position: fixed;
    left: 0;
    overflow: hidden;
     box-shadow: 5px 5px 10px rgb(0, 0, 0);
     
    
   
}

::-webkit-scrollbar {
    display: none;
}

.profile{
    height: 50px;
    width: 200px;
   
    text-align: center;
    color: white;
     box-shadow: 5px 5px 10px rgb(0, 0, 0);
    
     
}
.Home{
    height: 50px;
    width: 200px;
   
    text-align: center;
    color: white;
     box-shadow: 5px 5px 10px rgb(0, 0, 0);
    
     
}


.stores{
     height: 50px;
    width: 200px;
  
    text-align: center;
    margin-top: 10px;
    color: white;
     box-shadow: 5px 5px 10px rgb(0, 0, 0);

}

.build_store{
     height: 50px;
    width: 200px;
   
    text-align: center;
    margin-top: 10px;
    color: white;
     box-shadow: 5px 5px 10px rgb(0, 0, 0);


}
html, body {
    height: 100%;
    overflow-x: hidden;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  
}