.signup-page{
    height: 100vh;
    width: 110vw;
    background-color:#000000;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    place-content: center;
   
   
}

::-webkit-scrollbar {
    display: none;
}
.container{
    height: 400px;
    width: 400px;
     background: black;
     border: solid rgb(118, 118, 118);
     backdrop-filter: blur(10px);
     display: flex;
    align-items: center;
    place-content: center;
    font-size: 40px;
     -webkit-backdrop-filter: blur(10px);
     flex-direction: column;
    color: #fff;
   
    border-radius: 8px;
     background: rgba(220, 212, 212, 0.1);
}

.email{
    margin-top:1px;
    height: 30px;
    width: 200px;
    border-radius: 2rem;
    background-color: #373737;
     border: solid rgb(118, 118, 118);
     color: white;
}
.password{
    margin-top:10px;
    height: 30px;
    width: 200px;
    border-radius: 2rem;
    background-color: #373737;
     border: solid rgb(118, 118, 118);
     color: white;
      background: url('../Togglevisiblepaword/eyeicon.jsx') no-repeat right 10px center;
  background-size: 20px; /* Adjust the size */
  padding-right: 30px; /* Make space for the image */
}

.phone-no{
     margin-top:10px;
    height: 30px;
    width: 200px;
    border-radius: 2rem;
    background-color: #373737;
     border: solid rgb(118, 118, 118);
     color: white;

}

.submit-button{
    margin-top:10px;
    height: 30px;
    width: 100px;
    border-radius: 2rem;
    background-color: #373737;
     border: solid rgb(118, 118, 118);
     color: white;

}
.submit-button:hover{
    transform: scale(1.1);
}
.text{
    font-size: small;
    margin-top: 10px
}

.text a {
  text-decoration: none;
  color: inherit;
  
}



