.forgotpassword{
    height:100vh;
    width: 100vw;
    
     align-items: center;
    place-content: center;
    display: flex;
   
     overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.Email{
    height: 100px;
    width: 600px;
     border: solid rgb(62, 61, 61);
   backdrop-filter: blur(10px);
      align-items: center;
    place-content: center;
     display: flex;
     border-radius: 5rem;
}

.emailbox{
    height: 30px;
    width: 300px;
    border-radius: 5rem;
     border-radius: 2rem;
    background-color: #373737;
     border: solid rgb(118, 118, 118);
     color: white;
}

.button{
    height: 30px;
    width:100px;
    margin-left: 10px;
  
    background-color: #252424;
    color: white;
     border-radius: 2rem;

}